In [1]:
import pandas as pd
import numpy as np

In [2]:
churn_de_clientes = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')

In [3]:
churn_de_clientes.head(5)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [4]:
selecao_phone = churn_de_clientes['phone']

In [5]:
selecao_phone.head(5)

0     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1    {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4     {'PhoneService': 'Yes', 'MultipleLines': 'No'}
Name: phone, dtype: object

## Assinatura de serviço telefônico com uma linha

In [6]:
servico_telefone = [p['PhoneService'] for p in selecao_phone]

In [7]:
servico_telefone = pd.DataFrame(servico_telefone, columns = ['servico_telefone'])

In [8]:
servico_telefone

     servico_telefone
0                 Yes
1                 Yes
2                 Yes
3                 Yes
4                 Yes
...               ...
7262              Yes
7263              Yes
7264              Yes
7265              Yes
7266               No

[7267 rows x 1 columns]

In [9]:
yes = ['Yes']
servico_telefone_yes = servico_telefone['servico_telefone'].isin(yes)
servico_telefone_yes =  servico_telefone[servico_telefone_yes]

In [10]:
servico_telefone_yes

     servico_telefone
0                 Yes
1                 Yes
2                 Yes
3                 Yes
4                 Yes
...               ...
7261              Yes
7262              Yes
7263              Yes
7264              Yes
7265              Yes

[6560 rows x 1 columns]

In [11]:
no = ['No']
servico_telefone_not = servico_telefone['servico_telefone'].isin(no)
servico_telefone_not = servico_telefone[servico_telefone_not]

In [12]:
servico_telefone_not

     servico_telefone
10                 No
14                 No
16                 No
19                 No
25                 No
...               ...
7200               No
7201               No
7218               No
7238               No
7266               No

[707 rows x 1 columns]

In [13]:
soma_telefone = len(servico_telefone_yes) + len(servico_telefone_not)

## Assinatura de serviço telefônico com mais de uma linha

In [15]:
selecao_multiplas_linhas = [p['MultipleLines'] for p in selecao_phone]

In [16]:
multiplas_linhas = pd.DataFrame(selecao_multiplas_linhas, columns = ['servico_telefone_multiplas_linhas'])

In [17]:
multiplas_linhas

     servico_telefone_multiplas_linhas
0                                   No
1                                  Yes
2                                   No
3                                   No
4                                   No
...                                ...
7262                                No
7263                               Yes
7264                                No
7265                                No
7266                  No phone service

[7267 rows x 1 columns]

In [18]:
yes = ['Yes']
multiplas_linhas_yes = multiplas_linhas['servico_telefone_multiplas_linhas'].isin(yes)
multiplas_linhas_yes = multiplas_linhas[multiplas_linhas_yes]

In [19]:
multiplas_linhas_yes

     servico_telefone_multiplas_linhas
1                                  Yes
7                                  Yes
9                                  Yes
11                                 Yes
13                                 Yes
...                                ...
7245                               Yes
7246                               Yes
7249                               Yes
7251                               Yes
7263                               Yes

[3065 rows x 1 columns]

In [20]:
no = ['No']
multiplas_linhas_not = multiplas_linhas['servico_telefone_multiplas_linhas'].isin(no)
multiplas_linhas_not = multiplas_linhas[multiplas_linhas_not]

In [21]:
multiplas_linhas_not

     servico_telefone_multiplas_linhas
0                                   No
2                                   No
3                                   No
4                                   No
5                                   No
...                                ...
7260                                No
7261                                No
7262                                No
7264                                No
7265                                No

[3495 rows x 1 columns]

In [22]:
multiplas_linhas.drop_duplicates()

   servico_telefone_multiplas_linhas
0                                 No
1                                Yes
10                  No phone service

In [23]:
selecao_diferente = ((multiplas_linhas['servico_telefone_multiplas_linhas'] != 'Yes') & (multiplas_linhas['servico_telefone_multiplas_linhas'] != 'No'))

In [24]:
selecao_diferente

0       False
1       False
2       False
3       False
4       False
        ...
7262    False
7263    False
7264    False
7265    False
7266     True
Name: servico_telefone_multiplas_linhas, Length: 7267, dtype: bool

In [25]:
multiplas_linhas_diferente = multiplas_linhas[selecao_diferente]

In [26]:
multiplas_linhas_diferente

     servico_telefone_multiplas_linhas
10                    No phone service
14                    No phone service
16                    No phone service
19                    No phone service
25                    No phone service
...                                ...
7200                  No phone service
7201                  No phone service
7218                  No phone service
7238                  No phone service
7266                  No phone service

[707 rows x 1 columns]

In [27]:
soma_multiplas = len(multiplas_linhas_yes) + len(multiplas_linhas_not) + len(multiplas_linhas_diferente)

## acrescentando e excluindo colunas

In [29]:
churn_de_clientes_new = pd.read_csv('churn_de_clientes.csv')

In [30]:
churn_de_clientes_new.head(5)

,cliente_ID,Churn,genero,idade_>=_65,tem_parceiro,tem_dependentes,phone,internet,account
0,0002-ORFBO,No,Female,0,Yes,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,No,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [31]:
churn_de_clientes_new['servico_telefone'] = servico_telefone

In [32]:
churn_de_clientes_new.head(5)

,cliente_ID,Churn,genero,idade_>=_65,tem_parceiro,tem_dependentes,phone,internet,account,servico_telefone
0,0002-ORFBO,No,Female,0,Yes,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Yes
1,0003-MKNFE,No,Male,0,No,No,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes
2,0004-TLHLJ,Yes,Male,0,No,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes
3,0011-IGKFF,Yes,Male,1,Yes,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes
4,0013-EXCHZ,Yes,Female,1,Yes,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes

In [33]:
churn_de_clientes_new['servico_telefone_multiplas_linhas'] = multiplas_linhas

In [34]:
churn_de_clientes_new.head(5)

,cliente_ID,Churn,genero,idade_>=_65,tem_parceiro,tem_dependentes,phone,internet,account,servico_telefone,servico_telefone_multiplas_linhas
0,0002-ORFBO,No,Female,0,Yes,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Yes,No
1,0003-MKNFE,No,Male,0,No,No,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,Yes
2,0004-TLHLJ,Yes,Male,0,No,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,No
3,0011-IGKFF,Yes,Male,1,Yes,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,No
4,0013-EXCHZ,Yes,Female,1,Yes,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Yes,No

## DataFrame dados_telefonicos

In [45]:
dados_telefonicos = pd.DataFrame(churn_de_clientes_new[['cliente_ID','servico_telefone', 'servico_telefone_multiplas_linhas']])

In [46]:
dados_telefonicos.to_csv('dados_telefonicos.csv', index=False)

In [37]:
dados_telefonicos.head(5)

  servico_telefone servico_telefone_multiplas_linhas
0              Yes                                No
1              Yes                               Yes
2              Yes                                No
3              Yes                                No
4              Yes                                No

## atualizar DataFrame churn_de_clientes

In [38]:
churn_de_clientes_new = pd.DataFrame(churn_de_clientes_new[['cliente_ID','Churn','genero','idade_>=_65','tem_parceiro','tem_dependentes','servico_telefone', 'servico_telefone_multiplas_linhas','internet','account']])

In [39]:
churn_de_clientes_new.head(5)

,cliente_ID,Churn,genero,idade_>=_65,tem_parceiro,tem_dependentes,servico_telefone,servico_telefone_multiplas_linhas,internet,account
0,0002-ORFBO,No,Female,0,Yes,Yes,Yes,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,Male,0,No,No,Yes,Yes,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,Male,0,No,No,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,Male,1,Yes,No,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,Female,1,Yes,No,Yes,No,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [40]:
churn_de_clientes_new.to_csv('churn_de_clientes.csv', index=False)

## Print

In [47]:
print('INFORMAÇÕES TELEFONE:')
print('##'*25 + '\n')
print(f'Assinatura de serviço telefônico com uma linha\n\n  Sim: {len(servico_telefone_yes)}\n\n  Não: {len(servico_telefone_not)}\n\nTotal: {soma_telefone}\n')
print('--'*25 + '\n')
print(f'Assisnatura de mais de uma linha de telefone:\n\n  Sim: {len(multiplas_linhas_yes)}\n\n  Não: {len(multiplas_linhas_not)}\n\n  Sem serviço de telefone: {len(multiplas_linhas_diferente)}\n\nTotal: {soma_multiplas}\n')
print('##'*25 + '\n')

INFORMAÇÕES TELEFONE:
##################################################

Assinatura de serviço telefônico com uma linha

  Sim: 6560

  Não: 707

Total: 7267

--------------------------------------------------

Assisnatura de mais de uma linha de telefone:

  Sim: 3065

  Não: 3495

  Sem serviço de telefone: 707

Total: 7267

##################################################